*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

  }



body, html{
      overflow-x: hidden;

}




nav{
   font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    margin-bottom: 180px;
/*    white-space: nowrap;*/
    }

#checkbox-menu,
.toggle{
    display:none;
    margin: 0;

}

.menu{
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row; /*стандартное направление слева направо*/
    justify-content: space-around; /*выравнивание вдоль главной оси, означает что элементы равномерно распределены по строке с равным расстоянием вокруг них*/
    align-items: center;
    list-style-type: none; /*чтобы убрать маркеры*/
    white-space: nowrap;
}

.menu li a {

    color: #2e2f2f;
    text-decoration: none;
    align-self: center; /*чтобы выравнивать flex-элементы по текущей flex линии*/
    font-size: 13px;
    padding: 10px 15px;
    transition: background .2s linear; /*устанавливает элемент перехода между двумя состояниями*/
}


.menu li a:hover{
    background: #0081ff;
    border-radius: 3px;
    color: aliceblue;
}

.menu li a.logo{
    font-size: 20px;
    margin-right: 100px;

}


.menu li a.contacts{
    margin-right: 100px;
}

@media screen and (max-width: 765px){
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #fff;
        background: #0081ff;
        transition: all .1s linear;
        }

    .toggle:hover{
        background: #005aff;
    }

     #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 300px;
    }


    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }


    .menu li{
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }


    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }

    .menu li a.logo{
    font-size: 16px;
    margin-right: 0px;

}

.menu li a.contacts{
    margin-right: 0px;
}







