<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://kit.fontawesome.com/ab0e3be1cc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block title %}
         {% if title %}
         <title>Flask - {{ title }}</title>
         {% else %}
          <title>Flask Blog</title>
          {% endif %}


    {% endblock title %}


</head>
<body>

<div class="wrapper">

{% block menu %}
    <header>
       <nav>
                    <input type="checkbox" id="checkbox-menu">
                    <label for="checkbox-menu">
                        <ul class="menu touch">

            <li><a href="#">Главная</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Регистрация</a></li>
            <li><a href="#">Логин</a></li>
            <li><a href="#">Аккаунт</a></li>
            <li><a href="#">Создать</a></li>
            <li><a href="#">Выход</a></li>
                      </ul>
            <span class="toggle">☰</span>
            </label>


                </nav>

    </header>
     <script src="script.js"></script>


{% endblock menu %}


{% block content %}

{% endblock content %}


{% block main_page %}


{% endblock main_page %}

   <div class="content">

   </div>
{% block footer %}
    <footer class="footer">
        Все права защищены!<br>
        &#169; Blackjaggi 2022
    </footer>
{% endblock footer %}

</div>
</body>
</html>
